#portfolio {
    position: relative;
    /* padding-top: 5vh;
    padding-bottom: 5vh; */
}

#portfolio > h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.portfolio__container {
    display: grid;
    /* height: 80vh; */
    position: relative;
}

/* .portfolio__container :hover {
    background: transparent;
    border-color: var(--color-black);
} */

.portfolio__items {
    /* height: 80vh; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    padding: 2.5rem 2.5rem;
}

.portfolio__item {
    display: grid;
    background: var(--color-white);
    border: 2px solid var(--color-black);
    padding: .5rem;
    transition: var(--transition);
}

.portfolio__item:hover {
    background-color: var(--color-grey);
    border-color: transparent
}

.portfolio__item a:hover {
    border-color: var(--color-black);
}

.portfolio__item-image{
    position: relative;
}

.portfolio__item-image img {
    margin: 0 auto;
    max-width: 35vh;
    object-fit: contain;
}

.portfolio__item-cta {
    height: 3rem;
    align-items: center;
    justify-items: center;
    display: flex;
    position: relative;
    gap: 0.5rem;
    bottom: 0.05rem;
    left: 0.05rem;
}

.portfolio__item-WIP-status {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(0.2turn, transparent, #494847, #494847, transparent);
    width: 100%;
    height: 12%;
    top: 50%;
    z-index: 3;
}

.portfolio__item-WIP-status h4 {
    font-weight: 500;
    font-size: 0.8rem;
    color: #ecc203;
    text-align: center;
}

.portfolio__item-Planned-status {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(0.2turn, transparent, #494847, #494847, transparent);
    width: 100%;
    height: 12%;
    top: 50%;
    z-index: 3;
}

.portfolio__item-Planned-status h4 {
    font-weight: 500;
    font-size: 0.8rem;
    color: #ec7f03;
    text-align: center;
}

.portfolio__item:not(.portfolio__item-WIP):not(.portfolio__item-Planned) h4{
    display: none;
}

/* .portfolio__item-WIP-status {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(0.2turn, transparent, #494847, #494847, transparent);
    width: 100%;
    height: 12%;
    top: 50%;
    z-index: 3;
}

.portfolio__item-WIP-status h4 {
    text-align: center;
}

.portfolio__item:not(.portfolio__item-WIP) h4{
    display: none;
} */

/* .portfolio__item-WIP-status-blur {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #494847;
    width: 100%;
    height: 5%;
    top: 50%;
    box-shadow: 0 0 5px 5px #494847;;
    z-index: 2;
} */

.portfolio__item-WIP-image img, .portfolio__item-Planned-image img {
    filter: blur(10px);
}

.portfolio__item-WIP-cta a.btn-primary {
    background: var(--color-grey);
    opacity: 0.6;
    cursor: not-allowed;
}

.portfolio__item-Planned-cta a {
    background: var(--color-grey);
    opacity: 0.6;
    cursor: not-allowed;
}

.portfolio__scroll__down {
    position: absolute;
    transform: rotate(90deg);
    right: -3rem;
    bottom: 4rem;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {

    .portfolio__items {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .portfolio__item h3 {
        font-size: .8rem;
    }

    .portfolio__item-cta {
        font-size: .6rem;
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .portfolio__items {
        grid-template-columns: 1fr;
    }
}