#about {
    position: relative;
    /* padding-top: 5vh; */
    padding-bottom: 5vh;
}

.about__container {
    height: fit-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
}

#about > h2 {
    margin-bottom: 2rem;
}

.about__container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    /* width: max-content; */
    justify-content: space-around;
    align-items: center;
}

.about__content {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 5rem 1.5rem 5rem;
    width: fit-content;
}

.about__card {
    background: var(--color-white);
    border: 2px solid;
    padding: 1.5rem 0.1rem 0.5rem 0.1rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: var(--color-grey);
    border-color: transparent;
}

.h5-hidden {
    font-weight: 700;
    color: var(--color-white);
}

.about__content p {
    padding-bottom: 1rem;
    font-size: 0.85rem;
}

.about__scroll__down {
    position: absolute;
    transform: rotate(90deg);
    right: -3rem;
    bottom: 4rem;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {
    .about__container {
        height: fit-content;
    }

    .about__content {
        justify-content: center;
        align-items: center;
    }
    .about__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .about__cards {
        padding: 1.5rem 1.5rem;
    }

    .about__card small {
        font-size: 0.6rem;
    }
}