#contact {
    position: relative;
    /* padding-top: 5vh; */
    padding-bottom: 5vh;
}

#contact > h2 {
    margin-bottom: 2rem;
}

.contact__container {
    /* height: 70vh; */
    display: flex;
    padding: 2.5rem 2.5rem;
    gap: 1.5rem;
}

.contact__me {
    width: 50%;
    display: grid;
    justify-items: center;
}

.contact__me-image {
    padding: 1.5rem 0 0 0;
    /* object-fit: cover; */
    max-width: 550px;
    height: auto;
}

.contact__socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
}

.contact__socials a {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* justify-items: center; */
    align-items: center;
    padding: 0.1rem 1rem;
    font-size: 1.5rem;
    color: var(--color-black);
}

.contact__socials a:hover {
    color: var(--color-grey);
}

.contact__content {
    padding-top: 1.5rem;
    width: 50%;
}

/* ================ FORM ================ */
form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    background: transparent;
    border: 2px solid var(--color-black);
    resize: none;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {

}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .contact__container {
        flex-direction: column;
        padding: 1.5rem 2.5rem;
    }

    .contact__me {
        width: auto;
    }

    .contact__content {
        padding-top: 0;
        width: auto;
    }
}