header {
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    overflow: hidden;
}

.header__container {
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.header__content {
    min-height: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-items: end; */
    text-align: right;
    position: relative;
    margin-right: 4rem;
}

/* CTA STYLING */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

/* PORTRAIT STYLING */

.header__me {
    min-height: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
}

.header__me-image {
    max-width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    margin-right: 25%;
}

.header__me-image img{
    position: relative;
    z-index: 2;
}

.header__me-deco {
    position: absolute;
    background: transparent;
    border: 2px solid var(--color-black);
    width: 100%;
    padding-top: 100%;
    left: -10%;
    top: 6%;
    z-index: 1;
}

.header__container-deco {
    position: absolute;
    background: var(--color-black);
    width: 12%;
    height: 100%;
    right: 7%;
    top: 0;
    z-index: 1;
}

.header__scroll__down {
    margin-bottom: 1rem;
    position: absolute;
    transform: rotate(90deg);
    right: -3rem;
    bottom: 4rem;
    z-index: 2;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {
    header {
        padding-top: 2rem;
    }

    .header__container {
        height: auto;
        min-height: max-content;
        /* height: 100vh; */
        position: relative;
        flex-direction: column;
        justify-content: end;
        margin-top: 6rem;
        /* gap: 1rem; */
    }

    .header__content {
        /* width: min-content; */
        height: 40%;
        text-align: center;
        margin: 10% 5% 0 5%;
        /* margin-bottom: 2rem; */
        justify-content: end;
    }

    .cta {
        justify-content: center;
    }

    .header__me {
        height: 60%;
        width: 100%;
        display: flex;
        /* height: 50%; */
        /* padding-top: 4rem; */
        /* margin-top: 4rem; */
        padding: 0 15% 4rem 15%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        justify-content: center;
        align-items: start;
    }

    .header__me-image {
        display: flex;
        transform: translateY(0);
        top: 0;
        margin: 0;
        max-width: 400px;
    }

    .header__container-deco {
        position: absolute;
        background: var(--color-black);
        /* background: transparent; */
        width: 100%;
        height: 14%;
        left: 0;
        top: auto;
        bottom: 6%;
        z-index: 1;
    }

    .header__scroll__down {
        bottom: 27%;
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    header {
        /* height: 100vh; */
    }

    .header__container {
        padding-top: 0;
    }

    .header__content {
        height: 50%;
    }

    .header__me {
        height: 50%;
    }

    .scroll__down {
        display: none;
    }

    .header__me-image {
        /* height: 150%;
        width: 150%; */
    }
}