#experience {
    position: relative;
    /* padding-top: 5vh; */
    padding-bottom: 5vh;
}

#experience > h2 {
    margin-bottom: 2rem;
}

.experience__container {
    /* height: 70vh; */
    padding: 5rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
}

.experience__container > div {
    background: transparent;
    padding: 2.5rem 2.5rem;
    border: 2px solid var(--color-black);
    transition: var(--transition);
}

.experience__container > div:hover {
    background: var(--color-grey);
    border-color: transparent;
    cursor: default;
}

.experience__container > div:hover small.text-light {
    color: var(--color-white);
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-black);
    font-weight: 600;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-black);
}

.experience__scroll__down {
    position: absolute;
    transform: rotate(90deg);
    right: -3rem;
    bottom: 4rem;
}

/* MEDIA QUERIES (TABLET DEVICES) */
@media screen and (max-width: 1024px) {
    .experience__container {
        /* height: 80vh; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1.5rem 1.5rem;
        font-size: 0.6rem;
    }

    .experience__container > div {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}